
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{

}

header{
    padding: 15px;
    background-color: #130b5d;
    display: flex;
    flex-direction: column;
}

.menu li{
    display: inline;
    margin: 0 10px;   
    font-family: 'Times New Roman', Times, serif;
}

.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background .5s;
    font-family: 'Times New Roman', Times, serif;
}

.menu li a:hover{
    background-color: #00004c;
}

.titulo{
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    word-spacing:-3px;
    color: white;
}

.titulocar{
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: blueviolet dotted 5px;
    border-radius: 25px;
    margin-right: 500px;
    margin-left: 500px;
}

.container{
    height: 560px;
    width: 900px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:solid #00004c 10px;
    border-radius: 10px;
}

.bar{
    background-color: rgba(58, 57, 57, 0.5);
    width: 30px;
    height: 12px;
    margin: 5px;
    transition: .3s;
    border-radius: 25px;
}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar:hover{
    background-color: rgba(58, 57, 57, 0.8);
}

input{
    display: none;
}

.imagens{
    display: flex;
    height: 100%;
    width: 600%;
}

.imagem{
    width: 16.6666666667%;
    transition: .3s;
}

.imagem img{
    width: 100%;
    height: 100%;
}

#imagem1:checked ~ .img1{
    margin-left: 0;
}

#imagem2:checked ~ .img1{
    margin-left: -16.6666666667%;
}

#imagem3:checked ~ .img1{
    margin-left: -33.3333333334%;
}

#imagem4:checked ~ .img1{
    margin-left: -50.0000000001%;
}

#imagem5:checked ~ .img1{
    margin-left: -66.6666666668%;
}

#imagem6:checked ~ .img1{
    margin-left: -83.3333333335%;
}

h2{
    padding-left: 30px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h4{
    padding-left: 30px;
    font-size: 25px;
    background-color: rgb(245, 244, 243);
    color:#4b2b91;
    font-family: 'Times New Roman', Times, serif;
    border-style:groove ;
    margin-left: 3%;
    margin-right: 18%;
}

p{
    text-indent: 20px;
    font-size: 18px;
    justify-content: center;
    text-align: justify;
    padding-left: 60px;
    padding-right: 340px;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: #000000;
}

.fontes{
   text-align: end;
   padding-right: 150px;
}

.fonte{
    font-size: 8px;
    padding-right: 20px;
    text-align: end;
    color: black;
}

section{
    text-indent: 20px;
    font-size: 14px;
    justify-content: center;
    text-align:justify ;
    padding-left: 40px;
    padding-right: 40px;
    border-left: #4b2b91 solid 5px;
    margin-left: 40px;
    border-radius: 25px;
    background-color: rgb(236, 233, 233);
    margin-right: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.foto1{
    margin-left: 90px;
    padding-right: 240px;
}

.foto2{
    margin-left: 90px;
    padding-right: 240px;
}

.texto-foto1{
    padding-left: 70px;
    font-size: 15px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.list{
    margin-left: 80px;
    font-size: medium;
    text-align: justify;
    margin-right: 40px;
    font: arial;
    font-family: 'Times New Roman', Times, serif;
}

iframe{
    padding-left: 100px;
    padding-right: 0px;
}

footer{
    padding-left: 20px;
    background-color: #130b5d;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5px;
}

small{
    font-size: 15px;
}

main{
    display: flex;
}

.mostruario{
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1600px){
    .container{
        height: 440px;
        width: 750px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border:solid #00004c 10px;
        border-radius: 10px;
    }

    p{
        text-indent: 20px;
        font-size: 18px;
        justify-content: center;
        text-align: justify;
        padding-left: 60px;
        padding-right: 10%;
        font-family: 'Times New Roman', Times, serif;
    }

    section{
        text-indent: 20px;
        font-size: 14px;
        justify-content: center;
        text-align:justify ;
        padding-left: 40px;
        padding-right: 40px;
        border-left: #4b2b91 solid 5px;
        margin-left: 40px;
        border-radius: 25px;
        background-color: rgb(236, 233, 233);
        margin-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
    }

    img{
        width: 500px;
    }

    .foto1{
        margin-left: 110px;
        padding-right: 240px;
    }

    

    .titulocar{
        font-size: 25px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        border: blueviolet dotted 5px;
        border-radius: 25px;
        margin-right: 20%;
        margin-left: 20%;
    }


}

@media(max-height: 768px){
    .container{
        height: 340px;
        width: 650px;
        overflow: hidden;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border:solid #00004c 10px;
        border-radius: 10px;
    }

    section{
        text-indent: 20px;
        font-size: 14px;
        justify-content: center;
        text-align:justify ;
        padding-left: 40px;
        padding-right: 40px;
        border-left: #4b2b91 solid 5px;
        margin-left: 40px;
        border-radius: 25px;
        background-color: rgb(236, 233, 233);
        margin-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
}

/*.mostruariot{

}

.cor1{
    background-color: #4b2b91;
}

.cor2{
    background-color: #382080;
}

.cor3{
    background-color: #26166f;
}

.cor4{
    background-color: #130b5d;
}

.cor5{
    background-color: #00004c;
}*/



/*Referencias pagina4:
https://mundoeducacao.uol.com.br/sociologia/consciencia-de-classe.htm
https://brasilescola.uol.com.br/sociologia/consciencia-de-classe.htm
*/